body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(159, 217, 235);
}

.navbar {
  width: 100%;
  background-color: rgb(85, 85, 85);
  overflow: auto;
  border-radius: 5px;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(240, 155, 18);
}

.active {
  background-color: rgb(250, 17, 9);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

h1{
  text-align: center;
}
h4{
  position: absolute;
  padding-top: 100px;
}
.aa img{
  padding-left: 47%;
  padding-top: 130px;
}


